
.form-field {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50vw;
  max-width: 450px;
  
  .status {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}